<!DOCTYPE html>
<html>
<head>
  <title>GG Games Store Inventory</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">
</head>
<body>
  <main>
<img id ="company_logo" src="/images/GG_Games_Logo.png" alt="Company Logo">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/publishers">Publishers</a>
          </li>
          <li>
            <a href="/games">Games</a>
          </li>
          <li>
            <a href="/sales">Sales</a>
          </li>
          <li>
            <a href="/inventory">Inventory</a>
          </li>
        </ul>
      </nav>
    <section id="content">
      <%= yield %>
    </section>
  </main>
</body>
</html>
