<h1>Add Game</h1>


  <form method="post" action="/games">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" required/>

    <label for="publisher">Select a Publisher:</label>
    <select id="publisher_id" name="publisher_id" required>
    <% @publishers.each do |publisher| %>
      <option value = <%= publisher.id %> > <%= publisher.name %> </option>
      <% end %>
    </select>

    <label for="genre">Genre:</label>
    <select id="genre" name="genre" required>
      <option value = "Action">Action</option>
      <option value = "Roleplaying">Roleplaying</option>
      <option value = "Adventure">Adventure</option>
      <option value = "Strategy">Strategy</option>
      <option value = "Puzzle">Puzzle</option>
    </select>

    <label for="buy_price">Buy Price:</label>
    <input id="buy_price" type="number" pattern="[0-9]*" name="buy_price" min="0" step="0.01" required/>

    <label for="sell_price">Sell Price:</label>
    <input id="sell_price" type="number" pattern="[0-9]*" name="sell_price" min="0" step="0.01" required/>

    <label for="stock">Stock:</label>
    <input id="stock" type="number" name="stock" min="0" required/>

    <input type='submit' value="Add Game"/>
  </form>
