<div class="header">
  <h1 class="header_text">Add Game</h1>
</div>

<form class="internal_form" method="post" action="/games">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" required/>
  <br>

  <label for="publisher">Select a Publisher:</label>
  <select id="publisher_id" name="publisher_id" required>
    <% @publishers.each do |publisher| %>
    <% if publisher.trading == "Yes" %>
    <option value = <%= publisher.id %> > <%= publisher.name %> </option>
    <% end %>
    <% end %>
  </select>
  <br>

  <label for="genre">Genre:</label>
  <select id="genre" name="genre" required>
    <option value = "Action">Action</option>
    <option value = "Roleplaying">Roleplaying</option>
    <option value = "Adventure">Adventure</option>
    <option value = "Strategy">Strategy</option>
    <option value = "Puzzle">Puzzle</option>
  </select>
  <br>

  <label for="buy_price">Buy Price:</label>
  <input id="buy_price" type="number" pattern="[0-9]*" name="buy_price" min="0" step="0.01" required/>
  <br>

  <label for="sell_price">Sell Price:</label>
  <input id="sell_price" type="number" pattern="[0-9]*" name="sell_price" min="0" step="0.01" required/>
  <br>

  <label for="stock">Stock:</label>
  <input id="stock" type="number" name="stock" min="0" required/>
  <br>
  <label for="logo">Logo Url:</label>
  <input id="logo" type="text" name="logo"/>
  <br>
  <br>

  <input type='submit' value="Add Game"/>
</form>
