<div class="header">
  <h1 class="header_text">Insufficient Stock</h1>
</div>

<div id="insufficient">
  <p>Please note the game you have tried to sell doesn't have enough stock,</p>
  <p>Please increase the stock levels or lower the sale amount.</p>
</div>
