<div class="header">
  <h1 class="header_text">Add Publisher</h1>
</div>

<form class="internal_form" method="post" action="/publishers">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" required/>
  <br>

  <label for="trading">Trading:</label>
  <select id="trading" name="trading" required>
    <option value = "Yes">Yes</option>
    <option value = "No">No</option>
  </select>
  <br>

  <label for="logo">Logo Url:</label>
  <input id="logo" type="text" name="logo"/>
  <br>
  <br>

  <input type='submit' value="Add Publisher"/>
</form>
