<h1>Add Publisher</h1>


  <form method="post" action="/publishers">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" required/>

    <label for="trading">Trading:</label>
    <select id="trading" name="trading" required>
      <option value = "Yes">Yes</option>
      <option value = "No">No</option>
    </select>

    <input type='submit' value="Add Publisher"/>
  </form>
